<a href="https://colab.research.google.com/github/laraibanza/Data-Analysis/blob/main/Data_Analysis_Ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#import all the libraries here
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv('/content/drive/MyDrive/DataAnalysis-with-Python/kiwisaver_sample_wk9.csv')
data

                                        Name  ... Net Assets Share Class
0              AMP IL no E Fee NZ Share (RN)  ...              81121.500
1         AMP KiwiSaver AMP Income Generator  ...                517.154
2            AMP KiwiSaver ANZ Balanced Plus  ...              87999.573
3             AMP Prem PSS OnePath NZ Shares  ...               1905.852
4   ANZ Default KiwiSaver Scheme Cnsrv(Dflt)  ...             423490.867
..                                       ...  ...                    ...
71        Simplicity KiwiSaver Balanced Fund  ...               9229.188
72    Simplicity KiwiSaver Conservative Fund  ...               2371.001
73          Simplicity KiwiSaver Growth Fund  ...              28561.438
74         Staples Rodway KiwiSaver Balanced  ...               9131.483
75           Staples Rodway KiwiSaver Growth  ...               4573.107

[76 rows x 15 columns]

# **Task 1:**
Inspecting your Data. read and disect your datafile "kiwisaver_sample_wk9.csv" to figure out list of all possible dirty data problems in your data.

In [5]:
data.info()
#As we can see from the result that we have some missing data in columns such as (Morningstar Rating,Manager Name,Manager Tenure etc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    76 non-null     object
 1   Firm Name               76 non-null     object
 2   Branding Name           76 non-null     object
 3   Holdings                76 non-null     int64
 4   Global Category         76 non-null     object
 5   Morningstar Rating      40 non-null     float64
 6   Domicile                76 non-null     object
 7   Fund Legal Structure    76 non-null     object
 8   Equity Style            76 non-null     object
 9   Inception Date          76 non-null     object
 10  Manager Name            33 non-null     object
 11  Manager Tenure          33 non-null     float64
 12  Net Assets Date         75 non-null     object
 13  Net Assets Size         76 non-null     float64
 14  Net Assets Share Class  76 non-null     float64
dtypes: float64(4), int64(1), object(10)
memory usage: 9.0+ KB

# **Task 2:**
You must have noticed we have some data with missing "Morningstar Ratings", createa method and figure out a way to imputate the missing data

In [6]:
mean_MSR = data['Morningstar Rating'].mean()
print(mean_MSR)
def remove_nan_MSR(row):
  if pd.isnull(row ['Morningstar Rating']):
    return mean_MSR
  else:
    return row['Morningstar Rating']

3.725

In [7]:
data['Morningstar Rating']= data.apply(remove_nan_MSR, axis=1 )

In [8]:
data.head()

                                       Name  ... Net Assets Share Class
0             AMP IL no E Fee NZ Share (RN)  ...              81121.500
1        AMP KiwiSaver AMP Income Generator  ...                517.154
2           AMP KiwiSaver ANZ Balanced Plus  ...              87999.573
3            AMP Prem PSS OnePath NZ Shares  ...               1905.852
4  ANZ Default KiwiSaver Scheme Cnsrv(Dflt)  ...             423490.867

[5 rows x 15 columns]

# **Task 3:**
List all the unique "Equity Style"?

What are the two most used and least used Equity Style?

In [9]:
#List of unique "Equity Style"
print(data['Equity Style'].value_counts())


#two most used Equity Style(Large Growth,Large Blend )
#two least used Equity Style(Mid Blend,Mid Value )

Large Growth    33
Large Blend     28
Mid Growth      10
Mid Blend        3
Mid Value        2
Name: Equity Style, dtype: int64

# **Task 4:**
Mapping your data: Figure out a way to map the values of "Morningstar Rating" form [5,4,3,2,1] to ['Awsome','Good','Average','bad','Awful']

In [10]:
#to remove the decimal points we used the round off method so that we can categorise the data according to question.

data['Morningstar Rating'] = pd.Series([round(val,0) for val in data['Morningstar Rating']], index = data.index)

In [11]:
data['Morningstar Rating_Name'] = data['Morningstar Rating'].map(lambda s :  'Awesome' if s==5.0 else 'Good' if s==4.0 else 'Average' if s==3.0 else  'bad' if s==2.0 else 'Awful')
data[['Morningstar Rating_Name' , 'Morningstar Rating']]

   Morningstar Rating_Name  Morningstar Rating
0                  Average                 3.0
1                     Good                 4.0
2                  Average                 3.0
3                  Average                 3.0
4                     Good                 4.0
..                     ...                 ...
71                    Good                 4.0
72                    Good                 4.0
73                    Good                 4.0
74                    Good                 4.0
75                    Good                 4.0

[76 rows x 2 columns]

In [12]:
data['Morningstar Rating'] = pd.Series([round(val,3) for val in data['Morningstar Rating']], index = data.index)

data["Morningstar Rating"]

0     3.0
1     4.0
2     3.0
3     3.0
4     4.0
     ...
71    4.0
72    4.0
73    4.0
74    4.0
75    4.0
Name: Morningstar Rating, Length: 76, dtype: float64

# **Task 5:**
Data Aggregation using GroupBy. Using the datafile "Kiwisaver_sample_wk9.csv", group the Funds based on Branding Name and Equity Style. 

Report the average Holdings and Net Assets Size of the groups that you just created.

In [13]:
data.groupby(['Branding Name','Equity Style'])[['Net Assets Size','Holdings']].mean()

                                  Net Assets Size     Holdings
Branding Name       Equity Style
AMP                 Large Growth     1.466660e+05  1544.000000
                    Mid Blend        8.619230e+02   689.000000
                    Mid Growth       6.918946e+04    92.000000
ANZ                 Large Growth     5.191668e+05  1543.111111
                    Mid Growth       2.460913e+05   438.666667
ASB                 Large Blend      1.191800e+06  1319.500000
                    Large Growth     5.645363e+03  1222.333333
Aon                 Large Blend      1.911613e+04   265.000000
                    Mid Growth       8.220035e+04   384.000000
Bank of New Zealand Large Blend      1.425594e+05  2456.800000
Fisher Funds        Large Growth     6.073430e+05   209.500000
Forsyth Barr        Large Growth     1.142776e+04   153.000000
Generate            Mid Blend        1.074962e+05    56.000000
                    Mid Growth       5.560979e+04   108.000000
Grosvenor           Large Blend      6.634276e+04   132.307692
                    Large Growth     1.030267e+04   113.000000
Mercer              Large Blend      2.424365e+04  1179.750000
                    Large Growth     1.039314e+05  1358.272727
                    Mid Growth       1.881585e+03    74.000000
Milford Funds       Mid Growth       5.880018e+04   429.000000
New Zealand Funds   Mid Value        5.230530e+04   183.500000
Simplicity NZ       Large Growth     2.231202e+04    54.333333
Staples Rodway      Large Blend      7.621845e+03   873.000000
                    Large Growth     1.521914e+04  1361.000000

# **Task 6:**

Data Aggregation using pivot tables.
Similar to the previous task, you will be using the file "Kiwisaver_sample_wk9.csv". Create a pivot table of average Holdings and Net Assets Size of Funds grouped by Branding Name and Equity Style (i.e. do the exact same thing as Task 1, but using a pivot table).

In [14]:
pd.pivot_table(data, index=["Branding Name",'Equity Style'], values=["Net Assets Size","Holdings"], aggfunc="mean")

                                     Holdings  Net Assets Size
Branding Name       Equity Style
AMP                 Large Growth  1544.000000     1.466660e+05
                    Mid Blend      689.000000     8.619230e+02
                    Mid Growth      92.000000     6.918946e+04
ANZ                 Large Growth  1543.111111     5.191668e+05
                    Mid Growth     438.666667     2.460913e+05
ASB                 Large Blend   1319.500000     1.191800e+06
                    Large Growth  1222.333333     5.645363e+03
Aon                 Large Blend    265.000000     1.911613e+04
                    Mid Growth     384.000000     8.220035e+04
Bank of New Zealand Large Blend   2456.800000     1.425594e+05
Fisher Funds        Large Growth   209.500000     6.073430e+05
Forsyth Barr        Large Growth   153.000000     1.142776e+04
Generate            Mid Blend       56.000000     1.074962e+05
                    Mid Growth     108.000000     5.560979e+04
Grosvenor           Large Blend    132.307692     6.634276e+04
                    Large Growth   113.000000     1.030267e+04
Mercer              Large Blend   1179.750000     2.424365e+04
                    Large Growth  1358.272727     1.039314e+05
                    Mid Growth      74.000000     1.881585e+03
Milford Funds       Mid Growth     429.000000     5.880018e+04
New Zealand Funds   Mid Value      183.500000     5.230530e+04
Simplicity NZ       Large Growth    54.333333     2.231202e+04
Staples Rodway      Large Blend    873.000000     7.621845e+03
                    Large Growth  1361.000000     1.521914e+04